* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
  text-align: center;
  background-color: #403d39;
  color: #ccc5b9;
}

/* Header */
header {
  background-color: #252422;
  color: #ccc5b9;
  padding: 15px;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative; /* Ensures back button is positioned relative to header */
  height: 60px; /* Ensures a fixed height for the header */
}

/* Footer Navigation */
footer {
  background-color: #252422;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.footer-item {
  text-align: center;
  flex: 1;
}

.footer-item i {
  text-decoration: none;
  color: #ccc5b9;
  font-size: 32px;
  display: block;
  padding: 10px;
}

.footer-item i.active {
  color: #007bff;
  font-weight: bold;
}
